### File handling:
1. create
2. write
3. reading
4. appending
5. renaming
6. removing

In [2]:
import os
os.rename("sample.txt","demo.txt")

In [3]:
os.remove("demo.txt")

### Tuple:
1. Immutable
2. using ( ) elements are separated bye ,
3. Indexed, Ordered
4. allows duplicate values
5. allows heterogenous values

In [5]:
#Tuple 
tup1= (12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [8]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [16]:
list1= list(tup1)
list1[2] = 100
tup1 = tuple(list1)
tup1

(12, 3, 100, 'abc', True)

### Built-in methods:
1. count()
2. index()

### packing and unpacking

In [19]:
#unpacking
tup2 = (12,232,4,354)
a,b,c,d = tup2
print(d)

354

In [22]:
#packing
x = 10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [23]:
#Tuple with single element
y = (10)
print(type(y))

<class 'int'>

In [24]:
#Iterating through tuple
for ele in x:
    print(ele)

10
20
30

### sets:
1. { }
2. does not allow duplicate values
3. not ordered
4. unindexed
5. mutable

In [25]:
set1 = {1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [27]:
for ele in set1:
    print(ele)

1
2
5
6
45
334

### Built-in functions
1. len()
2. min()
3. max()
4. set()

In [28]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 5, 6, 45, 334}
6
1
334

In [29]:
#Removing duplicates from the list
list1 = [1,2,3,4,5,1,2,3]
list1 = set(list1)
list1

{1, 2, 3, 4, 5}

### Built-in methods:

### Adding an element
1. add()

### Removing an element
2. pop()
3. remove()
4. discard()
5. clear()

In [31]:
set2 = set()
print(type(set2))

<class 'set'>

In [32]:
#Adding an element
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [33]:
set2.pop()

100

In [41]:
set2.remove(12)
set2

KeyError: 12

In [40]:
set2.discard(12)

In [43]:
set2.clear()
set2

set()

In [46]:
#Union,difference(A-B or B-A)
A = {1,2,3,4,5}
B = {3,4,5,6,7}
#Union A U b ==> {1,2,3,4,5,6,7}
print(A.union(B))
#A - B ==> {1,2}
#B - A ==> {6,7}
print(A.difference(B))#A-B
print(B.difference(A))#B-A
# intersection A and B -->{3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [48]:
#subset,super set
#Symmetric difference
C = {1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))#True
print(A.issubset(B))#False
print(C.issuperset(A))
print(C.issuperset(B))

True
False
True
True

In [49]:
#disjoint
X = {1,2}
Y = {23,34,45}
print(A.isdisjoint(B))
print(X.isdisjoint(Y))

False
True

In [52]:
###symmetric difference
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [55]:
A.union(B) ==> {1,2,3,4,5,6,7}
A ==> {1,2,3,4,5}
B ==> {3,4,5,6,7}
=======================
A ==> {1,2,3,4,5,6,7}
B ==> {3,4,5,6,7}

SyntaxError: invalid syntax (<ipython-input-55-70f5e63ead1d>, line 1)

In [56]:
A.update(B)#A = A union B
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [57]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [58]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [59]:
A.symmetric_difference_update(B)
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

In [63]:
A = {1,2,3}
B = {2,3,4}
print(A.difference(B))#A-B
print(B.difference(A))#B-A
print(A.symmetric_difference(B))#A-B union B-A
print(A)
print(B)
A.symmetric_difference_update(B)
print(A)
print(B)

{1}
{4}
{1, 4}
{1, 2, 3}
{2, 3, 4}
{1, 4}
{2, 3, 4}

### Dictionary:

```dictionary name = {key1:value1,key2:key2,....}```

Rules for key :
1. keys should ne unique
2. keys should be immutable(example:numerics,strings,tuples)

In [69]:
#creating a dictionary
dict1 = {"name":"RAVMYAH","id":221710309041,"address":"hyd","id":12}
print(dict1)

{'name': 'RAVMYAH', 'id': 12, 'address': 'hyd'}

In [68]:
#Extracting an element
print(dict1["id"])

221710309041

In [70]:
#Removing or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'RAVMYAH', 'id': 12}

In [71]:
#Adding an entry
dict1["course"] = "python"
print(dict1)

{'name': 'RAVMYAH', 'id': 12, 'course': 'python'}

### Built-in methods:
1. keys()
2. values()
3. items()
4. get()
5. update()
6. pop()
. popitems()

In [73]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'id', 'course'])
dict_values(['RAVMYAH', 12, 'python'])
dict_items([('name', 'RAVMYAH'), ('id', 12), ('course', 'python')])

In [75]:
#Extracting an element
print(dict1["name"])
print(dict1.get("name"))

RAVMYAH
RAVMYAH

In [76]:
#Adding an entry
dict1["address"] = "hyd"
dict1

{'name': 'RAVMYAH', 'id': 12, 'course': 'python', 'address': 'hyd'}

In [77]:
d = {1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'RAVMYAH', 'id': 12, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [79]:
#Removing an entry ==> pop(), popitem()
dict1.pop("name")
dict1

{'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [81]:
dict1.popitem()

(2, 2)

In [82]:
dict1

{'course': 'python', 'address': 'hyd', 1: 1}